:root {
  --primary: rgb(71, 7, 235);
  --success: rgb(34, 202, 75);
  --danger: rgb(255, 67, 54);
  --bisque: rgb(255, 228, 196);
  --purple: rgb(160, 99, 243);
  --warning: rgb(234, 181, 7);
  --white: white;
  --light: #f0eff5;

  --dark: #27282f;
  --dark-gray: #56555e;
  --light-gray: #86848c;

  --primary-light: rgba(71, 7, 234, 0.2);
  --success-light: rgb(20, 46, 20);
  --danger-light: rgba(255, 67, 54, 0.2);
  --purple-light: rgba(160, 99, 245, 0.2);
}
